<span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium @CssClasses">@Label</span>

@code {
    [Parameter] public string CssClasses { get; set; } = "";
    [Parameter] public string Label { get; set; } = "";
}
